{% extends 'base.html' %}

{% block title %}
Trackedfitness | Password change
{% endblock title %}

{% block content %}

<h1>Change Password</h1>
<br>
<p>Change your password below.</p>
<br>
<p>If you have forgotten your current password, you can reset it using link at the bottom of the page.</p>
<br>
<form method="post"> {% csrf_token %}
    {% include 'form.html' %}
    <button class="btn">Submit</button>
</form>
<br>
<div>Forgot password? <a href="{% url 'accounts:password_reset' %}">Reset</a></div>

{% endblock content %}