{% extends 'base.html' %}

{% block title %}
Trackedfitness | Change Password
{% endblock title %}

{% block content %}

<h1>Change Password</h1>

<p>Change your password below.</p>

<p>If you have forgotten your current password, you can reset it using link at the bottom of the page.</p>

<form method="post"> {% csrf_token %}
    {% include 'form.html' %}
    <button class="btn">Submit</button>
</form>

<br>

<p>Forgot password? <a href="{% url 'accounts:password_reset' %}">Reset</a></p>

{% endblock content %}