{% load i18n %}{% autoescape off %}{% blocktrans %}Hello, 

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Click on the following link choose a new password:" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "The username you use to log in with, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Kind regards" %}

{% trans "Trackedfitness" %}{% endautoescape %}