{% extends 'base.html' %}

{% block title %}
Trackedfitness | Password reset
{% endblock title %}

{% block content %}

<h1>Password Reset</h1>
<br>
<p>Forgotten your password? Enter your email address below, and we'll send you instructions for setting a new one.</p>
<br>
<form method="post"> {% csrf_token %}
    {% include 'form.html' %}
    <button class="btn">Submit</button>
</form>
<br>
{% if user.is_anonymous %}
<div><a href="{% url 'accounts:login' %}">Log in</a></div>
{% endif %}
{% endblock content %}

Be aware that in views.py you should use request.user.is_anonymous() since it's a function, while in templates you should use {{user.is_anonymous}} – amigcamel Oct 6 '14 at 12:29 