{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="grid-1-5">
<!-- Left -->
<div>
    <h2>Diary</h2>
</div>

<!-- Right -->
<div>
    <h2>{{ date|date:"l, j M" }}</h2>
    <br>
    <div class="diary-grid">
        <div><input type="checkbox"></div>
        <div><a href="">Breakfast</a></div>
        <div>Serving</div>
        <div>Calories</div>
        <div>Protein</div>
        <div>Carbs</div>
        <div>Fat</div>
    </div>

</div>








</div>





























<script>
    var select_all_meal_1 = document.getElementById("select_all_meal_1");
    var checkbox_meal_1 = document.getElementsByClassName("checkbox_meal_1");

    select_all_meal_1.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_1.length; i++) {
            checkbox_meal_1[i].checked = select_all_meal_1.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_1.length; i++) {
        checkbox_meal_1[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_1.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_1.length) {
                select_all_meal_1.checked = true;
            }

        });
    }

    var select_all_meal_2 = document.getElementById("select_all_meal_2");
    var checkbox_meal_2 = document.getElementsByClassName("checkbox_meal_2");

    select_all_meal_2.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_2.length; i++) {
            checkbox_meal_2[i].checked = select_all_meal_2.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_2.length; i++) {
        checkbox_meal_2[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_2.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_2.length) {
                select_all_meal_2.checked = true;
            }

        });
    }
    var select_all_meal_3 = document.getElementById("select_all_meal_3");
    var checkbox_meal_3 = document.getElementsByClassName("checkbox_meal_3");

    select_all_meal_3.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_3.length; i++) {
            checkbox_meal_3[i].checked = select_all_meal_3.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_3.length; i++) {
        checkbox_meal_3[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_3.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_3.length) {
                select_all_meal_3.checked = true;
            }

        });
    }
    var select_all_meal_4 = document.getElementById("select_all_meal_4");
    var checkbox_meal_4 = document.getElementsByClassName("checkbox_meal_4");

    select_all_meal_4.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_4.length; i++) {
            checkbox_meal_4[i].checked = select_all_meal_4.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_4.length; i++) {
        checkbox_meal_4[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_4.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_4.length) {
                select_all_meal_4.checked = true;
            }

        });
    }
    var select_all_meal_5 = document.getElementById("select_all_meal_5");
    var checkbox_meal_5 = document.getElementsByClassName("checkbox_meal_5");

    select_all_meal_5.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_5.length; i++) {
            checkbox_meal_5[i].checked = select_all_meal_5.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_5.length; i++) {
        checkbox_meal_5[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_5.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_5.length) {
                select_all_meal_5.checked = true;
            }

        });
    }
    var select_all_meal_6 = document.getElementById("select_all_meal_6");
    var checkbox_meal_6 = document.getElementsByClassName("checkbox_meal_6");

    select_all_meal_6.addEventListener("change", function (e) {
        for (i = 0; i < checkbox_meal_6.length; i++) {
            checkbox_meal_6[i].checked = select_all_meal_6.checked;
        }
    });

    for (var i = 0; i < checkbox_meal_6.length; i++) {
        checkbox_meal_6[i].addEventListener('change', function (e) {

            if (this.checked == false) {
                select_all_meal_6.checked = false;
            }

            if (document.querySelectorAll('.checkbox:checked').length == checkbox_meal_6.length) {
                select_all_meal_6.checked = true;
            }

        });
    }
</script>



{% endblock content %}