{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<h2></h2>

<h2 class="mt-1 mb-1">Copy Food from Previous Day to {{ meal_name }}, {{ date|date:"l, j M" }}</h2>

{% if object_list %}
<p>Are you sure you wish to copy the following food?</p>
<br>
<strong>{{ meal_name }}, {{ previous_day|date:"l, j M" }}</strong> <br>
{% for object in object_list %}
<p>{{ object.food_name }}, {{ object.brand_name }}, {{ object.quantity }}</p>
{% endfor %}
<br>
<form method="post"> {% csrf_token %}
    <div class="diary-action-btn-row">
        <a class="btn" href="{% url 'diaries:day' date.year date.month date.day %}">Return to Diary</a>
        <div class="btn-order">
            <button class="btn" tabindex="2" name="save">Copy</button>
            <button class="btn" name="another">Copy and add more</button>
        </div>
    </div>
</form>
{% else %}
<br>
<strong>{{ meal_name }}, {{ previous_day|date:"l, j M" }}</strong> <br>
<p>No food to copy.</p>
<br>
<div>
    <a class="btn" href="{% url 'diaries:day' date.year date.month date.day %}">Return to Diary</a>
</div>
{% endif %}




{% endblock content %}