{% extends 'base.html' %}
{% load customfilters %}
{% load humanize %} 
{% block content %}
<!-- <h2>{{ meal_name }}, {{ date|date:"l, j M" }}</h2> -->
<div class="structure">
    <div>
<h2 class="mt-1 mb-1">Add Food to {{ meal_name }}, {{ date|date:"l, j M" }}</h2>

<form action="" method="get" class="mt-1 mb-1">
<div class="food-search">
    <div class="search">{{ form.q }}</div>
    <div class="filter">{{ form.brand }}</div>
    <div class="filter">{{ form.category }}</div>
    <div class="filter">{{ form.sort }}</div>
    <div class="results">{{ formset.paginator.count }} Results</div>
    <div class="text-end">
        {% if request.GET.q or request.GET.brand or request.GET.category or request.GET.sort %}
        <a class="btn" href="{% url 'diaries:create' date.year date.month date.day meal %}">Clear</a>
        {% endif %}
        <button class="btn">Search</button>
    </div>
</div>
</form>

<div style="font-weight: bold; color: red;">{{ management_data.non_form_errors.as_text  }}</div>

<form method="post"> {% csrf_token %} {{ management_data.management_form }} 

<div class="diary-add-grid">
    <div class="title hidden-sm">Food</div>
    <div class="title hidden-sm">Quantity</div>
    <div class="title hidden-sm end">Serving</div>
    <div class="title hidden-sm end">Calories</div>
    <div class="title hidden-sm end">Protein</div>
    <div class="title hidden-sm end">Carbs</div>
    <div class="title hidden-sm end">Fat</div>
    

    {% for form in formset %}
    <div class="grid-item expand-sm-col-3"><a href="">{{ form.initial.name }}</a> <br> <small>{{ form.initial.food_brand }}</small></div>
    <div class="grid-item hidden-lg">Quantity</div>
    <div class="grid-item end">{{ form.quantity }}</div>
    <div class="grid-item hidden-lg"><button class="btn" style="width: 100%;" name="save">Add</button></div>
    <div class="grid-item end expand-sm-col-3">{{ form.initial.data_value_measurement }}</div>
    <div class="grid-item hidden-lg expand-sm-col-2">Calories</div>
    <div class="grid-item end">{{ form.initial.energy }}</div>
    <div class="grid-item hidden-lg expand-sm-col-2">Protein</div>
    <div class="grid-item end">{{ form.initial.protein }}</div>
    <div class="grid-item hidden-lg expand-sm-col-2">Carbs</div>
    <div class="grid-item end">{{ form.initial.carbohydrate }}</div>
    <div class="grid-item hidden-lg expand-sm-col-2">Fat</div>
    <div class="grid-item end">{{ form.initial.fat }}</div>
  
   
    {% endfor %}
</div>


<div class="diary-action-btn-row">
    <a class="btn" href="{% url 'diaries:day' date.year date.month date.day %}">Return to Diary</a>
    <div class="btn-order">
        <button class="btn" tabindex="2" name="save">Add Food</button>
        <button class="btn" name="another">Save and add more</button>
    </div>
</div>

</form>
<div class="pagination mb-5">
    <div></div>
    <div class="end">
        <span style="margin-right: 1rem;">Page {{ formset.number }} of {{ formset.paginator.num_pages }}</span>
        {% if formset.has_previous %}
        <a class="page-btn" href="?{% param_replace page=formset.previous_page_number %}"><i class="fas fa-angle-left"></i></a>
        {% else %}
        <a class="disabled"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% for num in formset.paginator.page_range %}
        {% if formset.number == num %}
        <a class="page-btn active" href="?{% param_replace page=num %}">{{ num }}</a>
        {% elif num > formset.number|add:'-3' and num < formset.number|add:'3' %} 
        <a class="page-btn" href="?{% param_replace page=num %}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if formset.has_next %}
        <a class="page-btn" href="?{% param_replace page=formset.next_page_number %}"><i class="fas fa-angle-right"></i></a>
        {% else %}
        <a class="disabled"><i class="fas fa-angle-right"></i></a>
        {% endif %}
    </div>
</div>
</div>

<div class="aside">

  
    <!-- {% for object in meal_list %}
    <div><a href="">{{ object.food_name }}, {{ object.brand_name }}, {{ object.data_value|floatformat:0 }}{{ object.data_value_measurement }}</a></div>


    {% endfor %} -->
</div>
</div>
<br>
<br>
<br>



{% endblock content %}
