{% extends 'base.html' %}
{% load humanize %} 
{% block content %}
<div class="diary-date">
<h2 class="grid-item-a">{{ date|date:"l, j M" }}</h2>
<div class="grid-item-b">
    <a class="btn" href="{% url 'diaries:today' %}">Today</a>
    <a class="btn" href="{% url 'diaries:day' previous_day.year previous_day.month previous_day.day %}"><i class="fas fa-arrow-left"></i></a>
    <a class="btn" href="{% url 'diaries:day' next_day.year next_day.month next_day.day %}"><i class="fas fa-arrow-right"></i></a>
</div>
</div>


<div class="diary-data">
    <div class="grid-item check"><input type="checkbox" id="select_all_meal_1"></div>
    <div class="grid-item"><a href="">Breakfast</a></div>
    <div class="grid-item end">Serving</div>
    <div class="grid-item end">Calories</div>
    <div class="grid-item end">Protein</div>
    <div class="grid-item end">Carbs</div>
    <div class="grid-item end">Fat</div>
    <div class="grid-item end">Saturates</div>
    <div class="grid-item end">Sugar</div>
    <div class="grid-item end">Fibre</div>
    <div class="grid-item end">Salt</div>

    {% for object in object_list %}
    {% if object.meal == 1 %}
    <div class="grid-item check"><input type="checkbox" class="checkbox_meal_1" name="to_delete" value="{{ object.id }}"></div>
    <div class="grid-item-name"><a href="{{ object.get_absolute_url }}">{{ object.food_name }} </a><br> <small>{{ object.brand_name }}</small></div>
    <div class="grid-item end">{{ object.data_value|floatformat:0 }}{{ object.data_value_measurement }}</div>
    <div class="grid-item end">{{ object.energy|intcomma }}</div>
    <div class="grid-item end hidden-sm">{{ object.protein|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.carbohydrate|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.fat|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.saturates|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.sugars|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.fibre|floatformat:1 }}</div>
    <div class="grid-item end hidden-sm">{{ object.salt|floatformat:2 }}</div>
    {% endif %}
    {% endfor %}


</div>


{% endblock content %}