{% extends 'base.html' %}
{% block content %}





<!-- If deleting one object -->
{% if object %}
<h2 class="">{{ object.get_meal_display }}, {{ object.date|date:"l, j M" }}</h2>
<h1 class="mb-1">Delete</h1>

<p class="">Are you sure you want to delete the following food from your diary?</p>
<p>{{ object.food.name }}, {{ object.food.brand }}, {{ object.serving }}</p>
<p class="">This action cannot be undone.</p>
{% endif %}


<!-- If deleting multiple objects -->
{% if object_list %}
<h2 class="">{{ meal_name }}, {{ date|date:"l, j M" }}</h2>
<h1 class="mb-1">Delete</h1>
<p class="">Are you sure you want to delete the following food from your diary?</p>
{% for object in object_list %}
<!-- Add quantity to this section here -->
<p>{{ object.food.name }}</p>
{% endfor %}
<p class="">This action cannot be undone.</p>
{% endif %}


<form method="post"> {% csrf_token %}
<div class="text-end">
    <a class="btn" href="{% url 'diaries:day' date.year date.month date.day %}">Return to Diary</a>
    <button class="btn">Delete</button>
</div>
</form>

{% endblock content %}