{% extends 'base.html' %}
{% load customfilters %}
{% load humanize %} 
{% block content %}

<h2 class="">{{ meal_name }}, {{ date|date:"l, j M" }}</h2>
<h2 class="mb-1">Add Food</h2>
<form>
<div class="diary-create-title mb-2">
    <div class="search span-col-6">
        {{ form.q }}
        
    </div>
    <div class="span-col-2">{{ form.brand }}</div>
    <div class="span-col-2">{{ form.category }}</div>
    <div class="span-col-2">{{ form.sort }}</div>
    <div class="span-col-3">{{ formset.paginator.count }} Results</div>
    <div class="span-col-3 text-end">
        {% if request.GET.q or request.GET.brand or request.GET.category or request.GET.sort %}
        <a class="btn" href="{% url 'diaries:create' date.year date.month date.day meal %}">Clear</a>
        {% endif %}
        <button class="btn">Search</button>
    </div>
</div>
</form>

<div class="diary-create-grid-2">
    <div class="grid-item hidden-sm">Food</div>
    <div class="grid-item hidden-sm">Serving</div>
    <div class="grid-item hidden-sm">Calories</div>
    <div class="grid-item hidden-sm">Protein</div>
    <div class="grid-item hidden-sm">Carbs</div>
    <div class="grid-item hidden-sm">Fat</div>
    <div class="grid-item hidden-sm">Quantity</div>

    {% for form in formset %}
    <div class="grid-item expand-lg-col-3"><a href="">{{ form.initial.name }}, {{ form.initial.food_brand }}</a></div>
    <div class="grid-item expand-lg-col-3">{{ form.initial.data_value_measurement }}</div>
    <div class="grid-item hidden-lg expand-lg-col-2">Calories</div>
    <div class="grid-item text-end">{{ form.initial.energy }} kcal</div>
    <div class="grid-item hidden-lg expand-lg-col-2">Protein</div>
    <div class="grid-item text-end">{{ form.initial.protein }} g</div>
    <div class="grid-item hidden-lg expand-lg-col-2">Carbs</div>
    <div class="grid-item text-end">{{ form.initial.carbohydrate }} g</div>
    <div class="grid-item hidden-lg expand-lg-col-2">Fat</div>
    <div class="grid-item text-end">{{ form.initial.fat }} g</div>
    <div class="grid-item hidden-lg">Quantity</div>
    <div class="grid-item text-end">{{ form.quantity }}</div>
    <div class="grid-item hidden-lg"><button class="btn" style="width: 100%;">Add</button></div>
    <div class="grid-item hidden-lg"></div>
    {% endfor %}
</div>






{% endblock content %}
