{% extends 'base.html' %}
{% block content %}
<style>
  body {
    background: #f4f4f4;
  }
</style>

<div class="food__structure--2-1">

  <!-- Left column -->
  <div>

    <br>

    <h2>Create Food</h2>
    <p>Create a new food to add to our database using the form below.</p>

    <br>

    <form method="post" novalidate> {% csrf_token %}
      {% include 'form.html' %}
      <button class="btn">Submit</button>
    </form>

    <br>





  </div>



  <div>

    <br>

    <h2>Help</h2>
    <p>Create a new food to add to our database.</p>
    
    <ul>
  <!-- Need to reset list format -->
      <li><a href="{% url 'food:brand_create' %}">Create Brand</a></li>

    </ul>


    <br>

  </div>

</div>


{% endblock content %}