{% extends 'base.html' %}
{% load customfilters %}
{% block content %}

<div class="food-list-structure mt-1">

    <div class="main">
        <h2>Food Database</h2>
        <p>Find a list of all of the food in our database below. Click on a food name to view further details
            and/or add the food to your diary or one your saved meals.</p>
        <div class="food-list">
            <div>Food</div>
            <div>Brand</div>
            <div class="end">Serving</div>
            <div class="end">Calories</div>
            <div class="end">Protein</div>
            <div class="end">Carbs</div>
            <div class="end">Fat</div>

            {% for food in food_list %}
            <div><a href="">{{ food.name }}</a></div>
            <div><a href="">{{ food.brand }}</a></div>
            <div class="end">{{ food.serving }}</div>
            <div class="end">{{ food.energy }}</div>
            <div class="end">{{ food.protein }}</div>
            <div class="end">{{ food.carbohydrate }}</div>
            <div class="end">{{ food.fat }}</div>
            {% endfor %}

        </div>

        <div class="page-nav">

        </div>


    </div>
    <div class="aside-2">
        <h2>Quick Links</h2>
        <p><a href="">Create Food</a></p>
        <p class="mb-2"><a href="">Create Brand</a></p>
    </div>

    <div class="aside-1">
        <h2>Latest Added</h2>
        <p>A list of the lastest food added to our database.</p>
        {% for food in latest_food %}
        <div><a href="">{{ food.name }}, {{ food.brand }}, {{ food.serving }}</a></div>
        <!-- <div><a href="">{{ food.brand }}</a></div>
        <div><a href="">{{ food.serving }}</a></div> -->
        <div class="mb-1"><small>Added {{ food.datetime_created|date:"D d M" }} by <a href="">{{ food.user_created}}</a></small></div>
        {% endfor %}
    </div>

</div>


{% endblock content %}