.diary-date {
    margin: .75rem 0 .5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    
    .grid-item-a {
        justify-items: start;
        border: 1px solid #f2f2f2;
    }
    .grid-item-b {
        border: 1px solid #f2f2f2;
        justify-items: end;
    }
 
}

@media (max-width: 684px) {
    .diary-date {
        grid-template-columns: auto;
        .grid-item-a {
            margin-bottom: .25rem;
        }
        
    }
}




.b { font-weight: bold;}

.flex-c {
    justify-content: center;
}
.flex-s {
    justify-content: flex-start;
}
.flex-e {
    justify-content: flex-end;
}

.diary-create-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .5rem;

    .search {
        display: flex;

        .btn {
            margin-left: .5rem;
        }
    }
}

.diary-grid-1 {
    display: grid;
    grid-template-columns: auto 1.5fr 1.5fr 1.5fr repeat(8, 1fr);

    .grid-item {
        padding: 0.25rem;
        border: 1px solid #f2f2f2;
    }
    .hidden-lg {
        display: none;
    }
    .hidden-sm {
        display: unset;
    }
    .add-food-row {
        grid-column: span 12 / auto;
        display: flex;
        justify-content: space-between;
    }
    .grid-item-total {
        padding: 0.25rem;
        background: #f2f2f2;
        border: 1px solid #fff;
    }

}

.diary-create-btn-row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .btn-order {
        display: flex;
        :nth-child(1) {
            order: 2;
        }
        :nth-child(2) {
            order: 1;
            margin-right: .25rem;
        }
    }
}


@media (max-width: 684px) {
    .diary-grid-1 {
        margin-bottom: 10rem;
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
        .grid-item {
            padding: 0.25rem;
            border: 1px solid #f2f2f2;
        }
        .hidden-lg {
            display: unset;
        }
        .hidden-sm {
            display: none;
        }
        .add-food-row {
            grid-column: span 5 / auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
    }
}

.check-item {
    padding: .25rem .5rem;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diary-create-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr .75fr;
    // grid-gap: .1rem;
    .grid-title {
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .25rem;
        border: 1px solid #42a5f5;
        background: #2196f3;
        color: #fff;
    }
    .grid-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .25rem;
        border: 1px solid #fff;
        background: #f2f2f2;
    }
    .food-name {
        justify-content: flex-start;
    }
    .grid-item:nth-child(14n+1),
    .grid-item:nth-child(14n+2),
    .grid-item:nth-child(14n+3),
    .grid-item:nth-child(14n+4),
    .grid-item:nth-child(14n+5),
    .grid-item:nth-child(14n+6),
    .grid-item:nth-child(14n+7) {
        background: #fff;
    }
    
}