.food__structure {
    padding: 0 1rem;
    height: 90vh;
    background: #fff;
    // display: grid;
    // grid-template-columns: 3fr 1fr;
}

.food_database {
    display: grid;
    grid-template-columns: 4fr repeat(9, 1fr);

    &__title {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
        font-weight: bold;
        // background: #2979ff;
        // color: #fff;
        border-bottom: 1px solid #000;
    }
    &__name {
        // line-height: 1.25;
        text-align: start;
        border-bottom: 1px solid #f2f2f2;
        // padding: .125rem .5rem;
    }
    &__data {
        display: flex;
        align-items: center;
        // padding: .5rem .5rem;
        text-align: start;
        border-bottom: 1px solid #f2f2f2;
    }
    .end {
        justify-content: flex-end;
        text-align: end;
    }
    .text-nowrap {
        white-space: nowrap;
    }
}





@media (max-width: 684px) {
    .food_database {
        display: grid;
        grid-template-columns: 4fr repeat(9, 1fr);
    
        &__title {
            display: none;
        } 
    }
}