.footer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

// Phones
@media (max-width: 575.98px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}
