
.food-database-search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .75rem;
}

.food-database-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 3fr repeat(10, 1fr);
    .grid-title {
        font-weight: bold;
    }
}



.food-database-grid-item {
    display: flex;
    padding: .25rem .5rem;
    border: 1px solid #f2f2f2;
    justify-content: flex-end;
    align-items: center;
}
.flex-s {
    justify-content: flex-start;
    text-align: start;
}

.hide-lg {
    display: none;
}

.hide-sm {
    display: flex;
}

.span-col-2-sm {
    grid-column: span 1 / auto;
}


.pagination-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .pagination a {
        padding: .25em .875em;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
    }
    
    .pagination a.active {
        background-color: #ffc107;
        color: #fff;
    }
    .pagination a:hover {
        background-color: #ffc107;
        color: #fff;
    }
}




@media (max-width: 684px) {
    .food-database-grid {
        grid-template-columns: 4fr 1fr;
    }
    .food-name {
        font-weight: bold;
    }
    .hide-lg {
        display: flex;
    }
    .hide-sm {
        display: none;
    }
    .span-col-2-sm {
        grid-column: span 2 / auto;
    }
    .flex-s {
        justify-items: flex-start;
        text-align: start;
    }

}