.form-control {
    font-size: 1rem;
    width: 100%;
    padding: .25rem .5rem;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}



// input[type='checkbox'] {
//     position: relative;
// 	cursor: pointer;
//     width: 1rem;
//     height: 1rem;
//     border: 1px solid #f2f2f2;
// }
