.grid-1 {
    background: #fff;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-1-5 {
    padding: 1rem;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.grid-structure-1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: #fff;
    min-height: 50vh;
}

.diary-grid {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr 1fr;
}



@media (max-width: 684px) {
    .grid-1-5 {
        grid-template-columns: 1fr;
    }
}






