header {
    background: #333;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .75rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: .75rem;
    overflow: hidden;
    white-space: nowrap;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    a:hover {
        color: #fff;
    }
    .start {
        display: grid;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .center {
        display: grid;
        grid-template-columns: auto auto auto auto 1fr;
        overflow: hidden;
        a {
            padding: .75rem 1rem;
        }
        a:hover {
            background: crimson;
        }
    }
    .end {
        display: grid;
        grid-template-columns: auto auto auto auto 1fr;
        overflow: hidden;
        a {
            padding: .5rem 1rem;
            
        }
        a:hover {
            background: crimson;
        }
        .sign-up {
            background: crimson;
        }
    }
}
