@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700;900&display=swap');

// Base imports
@import 'layouts';
@import 'tables';
@import 'forms';
@import 'buttons';
@import 'navbar';

// Diary app imports
@import 'diary_list';
@import 'diary_create_grid';
@import 'diary_detail';

// Food app imports
@import 'food_database';

// Meal app imports
@import 'meals';

// Stamdard stuff
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #0d6efd;
}

a:hover {
    color: #9ac2fe;
}

.container {
    padding: 0 .75rem; 
    max-width: 1200px;
    margin: 0 auto;
}


// Base media query 
@media (max-width: 684px) {

}


