@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// Base imports
@import "resets";
@import "layouts";

// Components
@import "tables";
@import "forms";
@import "buttons";
@import "navbar";
@import "footer";

// App imports
@import "diary_app";
@import "food_app";
@import "meal_app";
@import 'progress';
@import 'profiles';

* {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #0d6efd;
}

.container {
    padding: 0 0.75rem;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: #f4f4f4;
}