@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.layout-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.grid-structure-1-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  background: #fff;
  min-height: 50vh;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.span-col-4 {
  grid-column: span 4 / auto;
}

.span-col-5 {
  grid-column: span 5 / auto;
}

.span-col-6 {
  grid-column: span 6 / auto;
}

.span-col-7 {
  grid-column: span 7 / auto;
}

.span-col-8 {
  grid-column: span 8 / auto;
}

.span-col-9 {
  grid-column: span 9 / auto;
}

.span-col-10 {
  grid-column: span 10 / auto;
}

.span-col-11 {
  grid-column: span 11 / auto;
}

.span-col-12 {
  grid-column: span 12 / auto;
}

.span-row-2 {
  grid-row: span 2 / auto;
}

.span-row-3 {
  grid-row: span 3 / auto;
}

.span-row-4 {
  grid-row: span 4 / auto;
}

.span-row-5 {
  grid-row: span 5 / auto;
}

.span-row-6 {
  grid-row: span 6 / auto;
}

.span-row-7 {
  grid-row: span 7 / auto;
}

.span-row-8 {
  grid-row: span 8 / auto;
}

.span-row-9 {
  grid-row: span 9 / auto;
}

.span-row-10 {
  grid-row: span 10 / auto;
}

.span-row-11 {
  grid-row: span 11 / auto;
}

.span-row-12 {
  grid-row: span 12 / auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

small {
  font-size: .875rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: start;
  border-style: dashed;
  border: 1px solid #f2f2f2;
  padding: .75rem;
}

tr:hover {
  background-color: #f5f5f5;
}

.form-control {
  font-size: 1rem;
  width: 100%;
  padding: .25rem .5rem;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.form-grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

.form-grid-1 .mb-field {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  font-weight: bold;
  color: red;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  vertical-align: middle;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background: #fafafa;
  color: #000;
  border: 1px solid #dcd5d5;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  white-space: nowrap;
}

.btn:hover {
  text-decoration: none;
  background: #f2f2f2;
}

.btn-primary {
  background: #0d6efd;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background: #0252ca;
}

.btn-primary-2 {
  background: #68a4fd;
  color: #fff;
  border: none;
}

.btn-primary-2:hover {
  background: #3585fd;
}

.btn-danger {
  background: #dc3545;
}

header {
  background: #212529 !important;
  color: #f2f2f2;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  color: #f2f2f2;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
}

.navbar a:hover {
  color: #f2f2f2;
}

.navbar .start {
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7] 1fr;
      grid-template-columns: repeat(7, auto) 1fr;
  overflow: hidden;
}

.navbar .center a {
  padding: 0.75rem 1rem;
}

.navbar .center a:hover {
  background: crimson;
  color: #f2f2f2;
}

.navbar .end {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto 1fr;
      grid-template-columns: auto auto auto auto 1fr;
  overflow: hidden;
}

.navbar .end a {
  padding: 0.5rem 1rem;
}

.navbar .end a:hover {
  background: crimson;
  color: #f2f2f2;
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  overflow: auto;
}

.food-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.food-search .search {
  grid-column: span 3 / auto;
}

.food-search .filter {
  grid-column: span 1 / auto;
}

.food-search .results {
  grid-column: span 2 / auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 684px) {
  .food-search {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .food-search .search {
    grid-column: span 2 / auto;
  }
  .food-search .filter {
    grid-column: span 2 / auto;
  }
  .food-search .results {
    grid-column: span 1 / auto;
  }
}

.pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: .5rem 0;
}

.pagination .page-btn {
  display: inline-block;
  border: 1px solid #f2f2f2;
  padding: .5rem 0;
  width: 6rem;
  text-align: center;
}

.pagination .page-btn:hover {
  background: #2979ff;
  color: #fff;
  text-decoration: none;
}

.pagination .disabled {
  display: inline-block;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  color: #000;
  padding: .5rem 0;
  width: 5rem;
  text-align: center;
}

.pagination .active {
  background: #2979ff;
  color: #fff;
}

.pagination .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diary-add-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.diary-add-grid .title {
  padding-bottom: .5rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.diary-add-grid .grid-item {
  border-bottom: 1px solid #f2f2f2;
}

.diary-add-grid .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.hidden-lg {
  display: none;
}

.hidden-sm {
  display: unset;
}

@media (max-width: 684px) {
  .diary-create-search {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .diary-create-grid-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .diary-create-grid-2 .grid-item {
    border: 1px solid #f2f2f2;
  }
  .hidden-lg {
    display: unset;
  }
  .hidden-sm {
    display: none;
  }
  .expand-sm-col-3 {
    grid-column: span 3 / auto;
  }
  .expand-sm-col-2 {
    grid-column: span 2 / auto;
  }
}

.diary-detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.diary-detail-grid-item {
  padding: 0.5rem 1rem;
  border: 1px solid #f2f2f2;
}

@media (max-width: 684px) {
  .diary-detail-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.diary-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 3fr (1fr)[5];
      grid-template-columns: auto 3fr repeat(5, 1fr);
  grid-column-gap: .5rem;
}

.diary-data .grid-title {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.diary-data div {
  border-bottom: 1px solid #f2f2f2;
}

.diary-data .check {
  padding-right: .5rem;
}

.diary-data .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.diary-data .end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.diary-date {
  margin: .75rem 0 .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.diary-date .grid-item-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #f2f2f2;
}

.diary-date .grid-item-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f2f2f2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

@media (max-width: 684px) {
  .diary-date {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .diary-date .grid-item-a {
    margin-bottom: .25rem;
  }
}

.diary-create-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: .5rem;
}

.diary-create-title .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diary-create-title .search .btn {
  margin-left: .5rem;
}

.diary-grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1.5fr 1.5fr 1.5fr (1fr)[8];
      grid-template-columns: auto 1.5fr 1.5fr 1.5fr repeat(8, 1fr);
}

.diary-grid-1 .grid-item {
  padding: 0.25rem;
  border: 1px solid #f2f2f2;
}

.diary-grid-1 .hidden-lg {
  display: none;
}

.diary-grid-1 .hidden-sm {
  display: unset;
}

.diary-grid-1 .add-food-row {
  grid-column: span 12 / auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diary-grid-1 .grid-item-total {
  padding: 0.25rem;
  background: #f2f2f2;
  border: 1px solid #fff;
}

.diary-action-btn-row {
  border: 1px solid #f2f2f2;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.diary-action-btn-row .btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diary-action-btn-row .btn-order :nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.diary-action-btn-row .btn-order :nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: .25rem;
}

@media (max-width: 684px) {
  .diary-grid-1 {
    margin-bottom: 10rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr 1fr 1fr 1fr;
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
  }
  .diary-grid-1 .grid-item {
    padding: 0.25rem;
    border: 1px solid #f2f2f2;
  }
  .diary-grid-1 .hidden-lg {
    display: unset;
  }
  .diary-grid-1 .hidden-sm {
    display: none;
  }
  .diary-grid-1 .add-food-row {
    grid-column: span 5 / auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.check-item {
  padding: .25rem .5rem;
  border: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diary-create-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr 1fr 1fr 1fr .75fr;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr .75fr;
}

.diary-create-grid .grid-title {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem;
  border: 1px solid #42a5f5;
  background: #2196f3;
  color: #fff;
}

.diary-create-grid .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem;
  border: 1px solid #fff;
  background: #f2f2f2;
}

.diary-create-grid .food-name {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.diary-create-grid .grid-item:nth-child(14n+1),
.diary-create-grid .grid-item:nth-child(14n+2),
.diary-create-grid .grid-item:nth-child(14n+3),
.diary-create-grid .grid-item:nth-child(14n+4),
.diary-create-grid .grid-item:nth-child(14n+5),
.diary-create-grid .grid-item:nth-child(14n+6),
.diary-create-grid .grid-item:nth-child(14n+7) {
  background: #fff;
}

.food__detail--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 684px) {
  .food__detail--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.food__structure {
  padding: 0 1rem;
  background: #fff;
}

.food__structure--2-1 {
  padding: 0 1rem;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.food_database {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr (1fr)[9];
      grid-template-columns: 4fr repeat(9, 1fr);
}

.food_database__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.food_database__name {
  text-align: start;
  border-bottom: 1px solid #f2f2f2;
}

.food_database__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  border-bottom: 1px solid #f2f2f2;
}

.food_database .end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.food_database .text-nowrap {
  white-space: nowrap;
}

.hidden-lg {
  display: none;
}

.hidden-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 684px) {
  .food__structure--2-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
  .food_database {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .food_database__title {
    display: none;
  }
  .food_database__data {
    padding: 0.25rem 0.5rem;
    text-align: start;
    border-bottom: 1px solid #f2f2f2;
  }
  .space-right {
    margin-right: 0.25rem;
  }
  .kcal::after {
    content: "kcal";
  }
  .g::after {
    content: "g";
  }
  .hidden-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hidden-sm {
    display: none;
  }
  .serving {
    font-weight: bold;
  }
  .food-title-sm {
    background: #f2f2f2;
    padding: 0.5rem;
  }
}

.structure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.meal-add-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr (1fr)[6];
      grid-template-columns: 4fr repeat(6, 1fr);
}

.meal-add-grid .grid-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #333;
  padding: .75rem 0;
}

.meal-add-grid .grid-food {
  text-align: start;
  border-bottom: 1px solid #f2f2f2;
}

.meal-add-grid .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.meal-add-grid .end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.meal-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.5fr .75fr .75fr;
      grid-template-columns: 1fr 3.5fr .75fr .75fr;
  overflow: hidden;
}

.meal-list div {
  border: 1px solid #f2f2f2;
  padding: .25rem;
}

.meal-detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.meal-detail-grid .grid-item {
  border: 1px solid #f2f2f2;
  padding: .25rem .5rem;
}

.progress__main {
  background: #fff;
  padding: 1rem 1rem 10rem 1rem;
}

.progress__form {
  background: #fff;
  padding: 1rem 1rem 10rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.progress__list__grid {
  padding: .75rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
}

.progress__list__grid .title {
  font-weight: 700;
  padding: .75rem 0;
  border-bottom: 1px solid #000;
}

.progress__list__grid .item {
  padding: .75rem 0;
  border-bottom: 1px solid #f2f2f2;
}

.grid-2-1 {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  padding: .75rem;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background: #f4f4f4;
}
/*# sourceMappingURL=base.css.map */