{% extends 'base.html' %}
{% load customfilters %}
{% block content %}
<h2 class="mt-1">Add Food/Update Meal</h2>
<div class="structure">

    <!-- Main content - food list -->
    <div class="main mb-5">

        <div style="font-weight: bold; color: red;">{{ management_data.non_form_errors.as_text  }}</div>

    <form action="" method="post"> {% csrf_token %} {{ management_data.management_form }}
    <!-- Meal add grid table -->
    <div class="meal-add-grid">
        <div class="grid-title">Food</div>
        <div class="grid-title">Quantity</div>
        <div class="grid-title end">Serving</div>
        <div class="grid-title end">Calories</div>
        <div class="grid-title end">Protein</div>
        <div class="grid-title end">Carbs</div>
        <div class="grid-title end">Fat</div>
        {% for food in food_list %}
        <div class="grid-food">
            <a href="">{{ food.initial.name }}</a> <br>  <small><a href="" style="color: #000;">{{ food.initial.food_brand }}</a></small>
        </div>
        <div class="grid-item">{{ food.quantity }}</div>
        <div class="grid-item end">{{ food.initial.data_value_measurement }}</div>
        <div class="grid-item end">{{ food.initial.energy }}</div>
        <div class="grid-item end">{{ food.initial.protein }}</div>
        <div class="grid-item end">{{ food.initial.carbohydrate }}</div>
        <div class="grid-item end">{{ food.initial.fat }}</div>
        
        {% endfor %}
    </div>
    <button class="btn mt-2" name="another">Save and add more</button>
    <button class="btn mt-2" name="save">Add to Meal</button>
    </form>


    </div>

    <!-- Side content - current meal list -->
    <div class="aside">
        <h2 ><a href="{% url 'meals:detail' meal.id %}">{{ meal.name }}</a></h2>

    

    
    </div>

</div>
{% endblock content %}