{% extends 'base.html' %}
{% load customfilters %}
{% block content %}

<h1 class="mt-1 mb-1">Add Food to Meal: Step 1</h1>

<p class="mt-1 mb-1">Select a food you wish to add to <strong>{{ meal }}</strong> below.</p>

<form>
    {% include 'includes/foodfilter.html' %}
    <button class="btn">Search</button>
    <a href="{% url 'meals:meal_add_1' meal.id %}">Cancel</a>
</form>
<br>

{% for food in food_list %}
<div><a href="{% url 'meals:meal_add_2' meal.id food.id %}">{{ food.name }}, {{ food.brand }}, {{ food.serving }}</a></div>



{% endfor %}


{% endblock content %}