{% extends 'base.html' %}
{% load customfilters %}
{% block content %}
<h1 class="mt-1 mb-1">Meal Detail</h1>

<div class="mt-0 mb-2">{{ object.name }}</div>
<div>{{ object.description }}</div>

<table class="table">
    <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.food }}</td>
            <td>{{ object.quantity }}</td>
            <td><a href="{% url 'meals:item_delete' object.id %}">Delete</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<a href="{% url 'meals:meal_add_1' object.id %}">Add Item</a>


{% endblock content %}