<footer>
    <div class="container">
        <div class="footer">
            <div>
                <h3>Trackedfitness</h3>
                &copy;
                <script type="text/JavaScript">
                document.write(new Date().getFullYear());
                </script>
            </div>

            <div>
                <h4>Help & Information</h4>
                <ul style="list-style: none;">
                    <li><a href="">Cool stuff</a></li>
                    <li><a href="">Random feature</a></li>
                    <li><a href="">Team feature</a></li>
                    <li><a href="">Stuff for developers</a></li>
                    <li><a href="">Another one</a></li>
                    <li><a href="">Last time</a></li>
                </ul>
            </div>
            <div>
                <h4>Contact</h4>
                <ul style="list-style: none;">
                    <li><a href="">Resource</a></li>
                    <li><a href="">Resource name</a></li>
                    <li><a href="">Another resource</a></li>
                    <li><a href="">Final resource</a></li>
                </ul>
            </div>
            <div>
                <h4>About</h4>
                <ul style="list-style: none;">
                    <li><a href="">Team</a></li>
                    <li><a href="">Locations</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>